
  *{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Varela',sans-serif; */
    box-sizing: border-box;
}
html,body{
   height: 100vh;
   width: 100vw;
}
body{
    height: 100vh;
    width: 100vw;
    background-image:url() ;
 }