*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background:yellow ;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timedisplay{
    background: green;
}
.stopBtn{
    background: red;
    height:50px;
    width: 90px;
    border-radius:2rem;
}
.startBtn{
    background: green;
    height:50px;
    width: 90px;
    border-radius:2rem;
    align-items: center;
}
.resetBtn{
    background: blue;
    height:50px;
    width: 90px;
    border-radius:2rem;
}
.Btncontainer{

    display: flex;
    height: 50px;
    width:300px;
    border:black ;
    text-align: center;
    flex-direction: row;
    justify-content:space-between ;

}