*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:' Poppins',sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
align-items: center;
background-color:#000;
color: #f8f8f8;
}
.container{
    height: 420px;
    width: 380px;
    position:relative;
    background-color: #234;
    border-radius: 10px;
}